[defaults]
# Use the local inventory file by default
inventory = inventory.ini

# Silence warnings about python interpreter discovery
interpreter_python = auto_silent

# Do not create .retry files on failure
retry_files_enabled = False
